{% extends 'testing.html' %}
{% block content %}
<div class="container">
    {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="p-4 p-md-5 mb-4 text-body-emphasis bg-body-secondary"
        style="border-radius: 30px;  background-image: url(/static/camilo-jimenez-vGu08RYjO-s-unsplash.jpg);">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 .fst-italic" style="color: #ffffff;"><b>DiagnoSphere - Precision Health in Your
                    Sphere</b></h1>
            <p class="lead my-3" style="color: #ffffff;">Navigating Tomorrow's Health, Today.</p>
            <p class="lead mb-0" style="color: #ffffff;"><a href="{{ url_for('aboutUs')}}"
                    class="text-body-emphasis fw-bold" style="text-decoration:none;"><b
                        style="color: #ffffff; text-decoration:none;">Know
                        More</b></a></p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                style="border-radius: 20px; border: 2.5px solid #ffffff;">
                <div class="col p-4 d-flex flex-column position-static" style="color: #ffffff;">
                    <b style="color: #ffffff; font-size:large;">Test 1</b>
                    <h3 class="mb-0" style="color: #ffffff;">Diabetes</h3>
                    <div class="mb-1 text-body-secondary" style="color: #ffffff;"></div>
                    <p class="card-text mb-auto" style="color: #ffffff;">Symptoms of Diabetes are :-
                    <ul style="color: #ffffff;">
                        <li>Feeling more thirsty than usual</li>
                        <li>Urinating often</li>
                        <li>Loosing weight without trying</li>
                        <li>Feeling tired and weak</li>
                    </ul>
                    </p>
                    <a href="{{ url_for('diabetesPage') }}" class="icon-link gap-1 icon-link-hover stretched-link"
                        style="color: #ffffff; text-decoration:none">
                        <b>Test Now</b>
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/diabetes.jpg" alt="" width="200" height="300">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                style="border-radius:20px; border: 2.5px solid #ffffff;">
                <div class="col p-4 d-flex flex-column position-static" style="color: #ffffff;">
                    <b style="color: #ffffff; font-size:large;">Test 2</b>
                    <h3 class="mb-0" style="color: #ffffff;">Breast Cancer</h3>
                    <div class="mb-1 text-body-secondary" style="color: #ffffff;"></div>
                    <p class="card-text mb-auto" style="color: #ffffff;">The symptoms of Breast Cancer are:-
                    <ul>
                        <li>New lump in the breast or underarm</li>
                        <li>Thickening or swelling of part of the breast</li>
                        <li>Irritation or dimpling of breast skin.</li>
                        <li>Irritation or dimpling of breast skin</li>
                    </ul>
                    </p>
                    <a href="{{ url_for('cancerPage') }}" class="icon-link gap-1 icon-link-hover stretched-link"
                        style="color: #ffffff; text-decoration:none">
                        <b>Test Now</b>
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/breast cancer.jpg" alt="" width="200" height="300">

                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                style="border-radius:20px; border:2.5px solid #ffffff;">
                <div class="col p-4 d-flex flex-column position-static" style="color: #ffffff;">
                    <b style="color: #ffffff;">Test 3</b>
                    <h3 class="mb-0" style="color: #ffffff;">Heart Disease</h3>
                    <div class="mb-1 text-body-secondary" style="color: #ffffff;"></div>
                    <p class="card-text mb-auto" style="color: #ffffff;">The Symptoms of Heart Disease are:-
                    <ul style="color: #ffffff;">
                        <li>Pain, numbness or weakness in the legs or arms</li>
                        <li>Chest pain, chest tightness and chest pressure</li>
                        <li>Pain in the neck, jaw, throat or upper belly area</li>
                        <li>Shortness of breath</li>
                    </ul>
                    </p>
                    <a href="{{ url_for('heartPage') }}" class="icon-link gap-1 icon-link-hover stretched-link"
                        style="color: #ffffff; text-decoration:none;">
                        <b>Test Now</b>
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/HEart.jpg" alt="" width="200" height="300">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                style="border-radius: 20px; border:2.5px solid #ffffff">
                <div class="col p-4 d-flex flex-column position-static" style="color: #ffffff;">
                    <b style="color: #ffffff;">Test 4</b>
                    <h3 class="mb-0" style="color: #ffffff;">Malaria</h3>
                    <div class="mb-1 text-body-secondary" style="color: #ffffff;"></div>
                    <p class="card-text mb-auto" style="color: #ffffff;">The symptoms of Malaria are:-
                    <ul style="color: #ffffff;">
                        <li>Diarrhea</li>
                        <li>Fatigue</li>
                        <li>Rapid Breathing</li>
                        <li>Nausea and Vomiting</li>
                    </ul>
                    </p>
                    <a href="{{ url_for('malariaPage') }}" class="icon-link gap-1 icon-link-hover stretched-link"
                        style="color: #ffffff; text-decoration:none;">
                        <b>Test Now</b>
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/malaria.jpg" alt="" width="200" height="300">

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                style="border-radius:20px; border:2.5px solid #ffffff">
                <div class="col p-4 d-flex flex-column position-static" style="color: #ffffff;">
                    <b style="color: #ffffff;">Test 4</b>
                    <h3 class="mb-0" style="color: #ffffff;">Liver Disease</h3>
                    <div class="mb-1 text-body-secondary" style="color: #ffffff;"></div>
                    <p class="card-text mb-auto" style="color:#ffffff;">The Symptoms of Liver are :-
                    <ul style="color: #ffffff;">
                        <li>Abdominal Pain and swelling</li>
                        <li>Itchy Skin</li>
                        <li>Dark Urine color</li>
                        <li>Chronic Fatigue</li>
                    </ul>
                    </p>
                    <a href="{{ url_for('liverPage') }}" class="icon-link gap-1 icon-link-hover stretched-link"
                        style="color: #ffffff; text-decoration:none"><b>Test Now</b>
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/liver.jpg" alt="" width="200" height="300">
        
                </div>
            </div>
        </div> -->
    <!-- <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                style="border-radius: 20px; border:2.5px solid #ffffff;">
                <div class="col p-4 d-flex flex-column position-static" style="color: #ffffff;">
                    <b style="color: #ffffff;">Test 4</b>
                    <h3 class="mb-0" style="color: #ffffff;">Kidney Disease</h3>
                    <div class="mb-1 text-body-secondary" style="color: #ffffff;"></div>
                    <p class="card-text mb-auto" style="color: #ffffff;">The Symptoms of Kidney Disease are:-
                    <ul style="color: #ffffff;">
                        <li>Decreased Mental sharpness</li>
                        <li>Swelling of feet and ankles</li>
                        <li>Urinating more or less</li>
                        <li>Sleeping problems</li>
                    </ul>
                    </p>
                    <a href="{{ url_for('kidneyPage') }}" class="icon-link gap-1 icon-link-hover stretched-link"
                        style="color: #ffffff; text-decoration:none">
                        <b>Test Now</b>
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/kidney.jpg" alt="" width="200" height="300">

                </div>
            </div>
        </div> -->
</div>
{% endblock %}